<footer class="footer bg-dark">
  <div class="container">
    <div class="footer-content">
      <p>&copy; <span id="currentYear"></span> {{ currentYear }} | Développé et conçu par Ameni Amri.</p>
      <div class="footer-icons">
        <a href="https://linkedin.com/in/ameniamri" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/ameniamri" target="_blank">
          <i class="fab fa-github"></i>
        </a>
        <a href="mailto:amriameni888@gmail.com">
          <i class="fas fa-envelope"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
