<div class="row align-items-center default-container">
    <div class="col-lg-8">
        <div class="content">
            <div class="content-left">
                <h2 class="default-topic">À propos de moi.</h2>
                <p class="default-p">
                    Je m'appelle <strong>Ameni Amri</strong> et je suis élève ingénieure en génie des télécommunications à l'ENET'COM. Je suis actuellement à la recherche d’un stage d’initiation afin d’approfondir mes compétences techniques et psychotechniques.
                </p>
                <p class="text-center">
                    <img src="../../assets/ameni-profile.jpg" alt="Ameni Amri" class="about-picture">
                </p>
                <p class="default-p">
                    J'ai un solide parcours académique avec une formation préparatoire à l’IPEIK et un baccalauréat en sciences expérimentales. Mon intérêt pour les nouvelles technologies et l'innovation m'a conduit à travailler sur des projets passionnants comme la conception et réalisation d’un prototype de sécurité basé sur une caméra utilisant Python.
                </p>
                <p class="default-p">
                    Mes compétences techniques incluent des langages de programmation tels que <span class="default-highlight">Python, Java, C, Matlab, HTML, et CSS</span>, ainsi que la gestion de bases de données avec Access et Oracle. Je suis également compétente en réseaux et protocoles, incluant <span class="default-highlight">TCP/IP, IPv4 et IPv6</span>.
                </p>
                <p class="default-p">
                    J’ai obtenu plusieurs certifications, notamment :
                </p>
                <ul class="default-p">
                    <li>Formation en intelligence artificielle par NATEG</li>
                    <li>Microsoft Azure Data Fundamentals</li>
                    <li>Microsoft Security, Compliance, and Identity Fundamentals</li>
                </ul>
                <p class="text-center">
                    <img src="../../assets/ameni-certification.jpg" alt="Certifications de Ameni Amri" class="about-picture">
                </p>
                <p class="default-p">
                    Sur le plan personnel, je suis passionnée par le <span class="default-highlight">sport d'équipe, les voyages et la lecture</span>. J’aime également participer à des activités associatives et je suis membre de plusieurs clubs, notamment <span class="default-highlight">Orbeats Club Radio ENET'COM</span> et <span class="default-highlight">Google Developer Student Club (GDSC)</span>.
                </p>
                <p class="default-p">
                    Mon objectif est de créer des solutions logicielles innovantes, évolutives et efficaces. Que ce soit pour le développement front-end, back-end ou full-stack, je suis motivée à apprendre et à contribuer à des projets qui font la différence.
                </p>
            </div>
        </div>
        <div class="content">
            <div class="content-left">
                <h2 class="default-topic">Contactez-moi.</h2>
                <p class="default-p">
                    Suivez-moi sur <a href="https://linkedin.com/in/AmeniAmri" target="_blank">LinkedIn</a>, consultez mes projets sur Github, ou <span class="default-highlight">contactez-moi pour discuter d’une collaboration</span>. Je serais ravie de mettre mes <span class="default-highlight">compétences en résolution de problèmes</span> au service de vos défis.
                </p>
                <button>
                    <a routerLink="/contact">
                        > Contactez-moi
                    </a>
                </button>
            </div>
        </div>
    </div>
</div>
