<div class="row align-items-center default-container">
    <div class="col-lg-5">
        <div class="contact-card">
            <img src="../../assets/ameni-profile.jpg" alt="Contact Image" class="contact-image">
            <h2 class="contact-title"><span class="white-highlight">&lt;</span>
                ameni_amri
                <span class="white-highlight">
                    /&gt;
                </span>
            </h2>
            <h1 class="default-highlight">ÉLÈVE INGÉNIEURE EN GÉNIE DES TÉLÉCOMMUNICATIONS</h1>

            <div class="media-content">
                <div class="media-icons">
                    <div class="media-icon">
                        <a href="https://linkedin.com/in/ameniamri" target="_blank">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </div>
                    <div class="media-icon">
                        <a href="https://github.com/amriameni19" target="_blank">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>
                    <div class="media-icon">
                        <a href="mailto:amriameni888@gmail.com">
                            <i class="fas fa-envelope"></i>
                        </a>
                    </div>
                </div>
            </div>

            <p class="contact-paragraph">
                Je suis ouverte à toute opportunité de collaboration et à la participation à des projets innovants. 
                Si vous recherchez une ingénieure motivée et sérieuse pour concrétiser vos idées, discutons ensemble. 
                <span class="default-highlight">Travaillons ensemble pour atteindre vos objectifs.</span>
            </p>
            <button>
                <a href="https://linkedin.com/in/ameniamri" target="_blank">
                    > Contactez-moi sur LinkedIn
                </a>
            </button>
        </div>
    </div>
</div>
