<div class="accordion-left">
  <accordion [isAnimated]="true">

    <accordion-group 
      heading="Langues." 
      [panelClass]="customClass"
      class="accordion-title">
      <div class="accordion-text">
        <p>Langue maternelle : <strong><span class="default-highlight">Arabe</span></strong></p>
        <p>Compétence avancée : <strong><span class="default-highlight">Français</span></strong> (DELF B2)</p>
        <p>Niveau intermédiaire : <strong><span class="default-highlight">Anglais</span></strong></p>
      </div>
    </accordion-group>

    <accordion-group 
      heading="Université." 
      panelClass="customClass"
      class="accordion-title">
      <div class="accordion-text">
        <p>2024 - ENET'COM - <strong><span class="default-highlight">Cycle d'ingénieur en Génie des Télécommunications</span></strong> - En cours</p>
        <p>2021 - IPEIK - <strong><span class="default-highlight">Cycle préparatoire</span></strong> - Diplôme préparatoire</p>
        <p>2021 - Lycée Ibn Jazzar Kairouan - <strong><span class="default-highlight">Baccalauréat en Sciences Expérimentales</span></strong></p>
      </div>
    </accordion-group>

    <accordion-group 
      heading="Compétences techniques."
      panelClass="customClass"
      class="accordion-title">
      <div class="accordion-text">
        <p>ENET'COM - <strong><span class="default-highlight">Développement logiciel et gestion des systèmes</span></strong> - Actuellement en formation</p>
        <ul>
          <li>
            Langages de programmation : Python, Java, C, Matlab, HTML, CSS
          </li>
          <li>
            Bases de données : Access, Oracle
          </li>
          <li>
            Réseaux et protocoles : TCP/IP, IPv4, IPv6
          </li>
        </ul>
        <p>Certifications obtenues :</p>
        <ul>
          <li>
            <strong><span class="default-highlight">Microsoft Azure Data Fundamentals</span></strong> - 03-04-2024
          </li>
          <li>
            <strong><span class="default-highlight">Microsoft Security, Compliance, and Identity Fundamentals</span></strong> - 24-04-2024
          </li>
          <li>
            <strong><span class="default-highlight">Formation en Intelligence Artificielle - NATEG</span></strong> - 24-02-2024 à 09-04-2024
          </li>
        </ul>
      </div>
    </accordion-group>

    <accordion-group 
      heading="Technologies que j'utilise."
      panelClass="customClass"
      class="accordion-title">
      <div class="tech-board">
          <div class="tech-cell">
              <i class="devicon-java-plain-wordmark"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-python-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-html5-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-css3-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-mysql-plain-wordmark"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-oracle-original"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-git-plain-wordmark"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-github-original"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-docker-plain-wordmark"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-vscode-plain"></i>
          </div>
      </div>
    </accordion-group>

  </accordion>
</div>
