<div class="row align-items-center default-container">
  <div class="col-lg-8">
    <div class="text-left">
      <h1 class="home-title">Construire le monde numérique de bout en bout.</h1>
      <h2 class="home-author">Ameni Amri, <span id="dynamic-text">{{ dynamicText }}</span></h2>
      <blockquote>
          Je suis une élève ingénieure en génie des télécommunications avec une solide formation technique. Je combine mes compétences en programmation et en réseaux pour développer des solutions efficaces, évolutives et adaptées aux besoins des utilisateurs.
      </blockquote>
      <button>
          <a routerLink="/portfolio">
              > Voir Portfolio
          </a>
      </button>
    </div>
  </div>
</div>

  